/* Colors Values */
:root {
  --c-black: hsl(0, 0%, 8%);
  --c-grey: hsl(0, 0%, 12%);
  --c-soft-grey: hsl(0, 0%, 20%);
  --c-green: hsl(75, 94%, 57%);
  --c-white: hsl(0, 0%, 100%);

  /* Color Semantics usage */
  --color-main-bg: var(--c-black);
  --color-card-bg: var(--c-grey);
  --color-button-bg: var(--c-soft-grey);
  --color-button-hover: var(--c-greenß);
  --color-h1-text: var(--c-white);
  --color-h3-text: var(--c-green);
  --color-p-text: var(--c-white);
  --color-button-text: var(--c-white);

  /* Font Sizes. Base Values */
  --fs-14: calc(14 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);

  /* Font Sizes - Semanctic Use */
  --font-size-h1: var(--fs-24);
  --font
}

/* Global fixes for easier responsiveness */
/* box sizing fix and no margins or padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* remove link underlines */
a {
  text-decoration: none;
}

/* Responsive img */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Body Defaults */
body {
  line-height: 1.5;
}
